{% extends "mainLayout.html" %}
{% block content %}
    <h1 class="text-center">About FastPDFReader</h1>
    <div class="w-100 d-inline-block mt-4" id="explanation">
        <p class="d-block w-75 m-auto">
            <span style="font-weight: bold;">FastPDFReader</span> is simple and totally free online recreation of 'word by word' 
            reader apps which allow users to read documents much faster by displaying them only one word at a time with chosen speed. 
            It requires practice to get used to this kind of reading, but once done, can improve time of reading pretty intensively. 
            Give it a try and maybe you will start run-reading books one day.
        </p>
        <br>
        <br>
        <br>
        <a href="/" class="m-auto d-block w-25 btn btn-info">Try it</a>
    </div>
{% endblock content %}
